.filter-title {
  text-align: center;
}

.pos-common-tweaks {
  margin: 4px;
  display: flex;
  white-space: nowrap;
}

.item-label {
  margin-left: 4px;
}

.switch-labels {
  margin-right: 4px;
}

.sections {
  margin-top: 15px;
}


