<nav class="navbar fixed-top navbar-expand-lg nav-tweaks">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse item-pos" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="item-tweaks">Search Bar</div>
        </li>
        <li class="nav-item">
          <div class="item-tweaks" [routerLink]="['/profesionaldetail']">Test Prof Individual</div>
        </li>
        <li class="nav-item">
          <div class="item-tweaks">Login</div>
        </li>
      </ul>

      <img class="img-tweaks" src="assets/tempResources/companyLogo.png" alt="">

    </div>
  </div>
</nav>
