<nav class="navbar fixed-top navbar-expand-lg nav-tweaks">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse item-pos" id="navbarSupportedContent">
    <div class="item-tweaks">Search Bar</div>
      <img class="img-tweaks" src="assets/tempResources/companyLogo.png" alt="">
    <div class="item-tweaks">Login</div>
    </div>
  </div>
</nav>

